<!-- Barra de navegación -->
<div ng-include="'/views/componentes/navigation_bar.html'"></div>


        <div class="col-sm-3 col-lg-2">
          <nav class="navbar navbar-default navbar-fixed-side">
            <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                  <li ng-class="{'active': btn_explore_selected}" ng-click="go('explora');">
                    <a><i class="fa fa-globe fa-1" style="margin-right: 15px"></i>Explora</a>
                  </li>
                  <li ng-class="{'active': btn_mis_actividades_selected}" ng-click="go('explora/mis_actividades');">
                    <a><i class="fa fa-futbol-o fa-1" style="margin-right: 15px"></i>Mis Actividades</a>
                  </li>
                  <li ng-class="{'active': btn_notificaciones_selected}" ng-click="go('explora/mis_notificaciones');">
                    <a><i class="fa fa-exclamation-circle fa-1" style="margin-right: 15px"></i>Mis Notificaciones</a>
                  </li>  


                </ul>


              </div>           
          </nav>

        </div>


<!-- Jumbotron -->
<div ng-include="'views/componentes/jumbotron.html'"></div>

<!-- Botones principales -->



<div class="contenedor" infinite-scroll="agregarMasActividades()">




    <div class="form-group row">
      <label class="col-sm-3 form-control-label">usuarios :</label>
      <div class="col-sm-9">
        <select multiple class="form-control"  ng-model = "eliminar">
         <option ng-repeat = "us in usuarios"  class="form-control" value={{us.usuarioId}} > {{us.correo}} </option>
       </select>
      </div>
    </div>

<table class="table" ng-repeat="elim in eliminar">
  
</table>



    <table class="table" ng-if="eliminar!=null">
    <thead>
        <tr>
            <th>correo</th>
            <th>nombre completo</th>
            <th>ultimo ingreso</th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="elim in eliminar" >
        <tr>

            <td>{{usuarios[elim-1].correo}} </td>
            <td>{{usuarios[elim-1].primerNombre + " " + usuarios[elim-1].apellidoPaterno + " " + usuarios[elim-1].apellidoMaterno}}</td>
            <td>{{usuarios[elim-1].lastUpdate}}</td>
            <td><button type="button" class="btn btn-default"   ng-click ="eliminarUsuario(elim);  ">eliminar! </button></td>

        </tr>

    </tbody>
</table>


